* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  
  h1 {
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
    flex: 1 0;
  }

  h2 {
    position: relative;
    left:20px;
  }

  .button{
    display: none;
  }

  #movies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    grid-gap: 50px;
  }


  .popup-outer{
    background-color: rgba(0, 0, .2, .3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-outer.open{
    opacity: 1;
    z-index: 999;
  }


  .popup-inner{
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 80%;
  }

  #search-area{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #loading-area{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .movie-title {
    color: white;
    font-weight: bold;
  }

  #close-button{
    height: 20px;
    width: 20%;
  }

  .average{
    color: white;
  }




  
