* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  
  h1 {
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
    flex: 1 0;
  }

  .button{
    display: none;
  }
  /* #movies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    grid-gap: 50px;
  } */

  #movies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    grid-gap: 50px;
  }




  .movie-title {
    color: white;
    font-weight: bold;
  }


  .average{
    color: white;
  }




  
